$black: black;
$white: white;
$grey: grey;
$red: red;
$green: green;
$blue: blue;
$orange: orange;
$yellow: yellow;
$pink: pink;

///

$nav-height: 3em;
$nav-top-gap: 2em;

$body_background_color: $white;
$body_background_image: none;
	// url('assets/images/stripe.png');

$headline-font: "headlinefont", Gadget, sans-serif;
$headline-weight: 700;

$body-font: "bodyfont", Arial, Helvetica, sans-serif;
$body-weight: 300;
$body-text-color: $black;
